@page
@model CouponMerchant.Areas.Identity.Pages.Account.VerifyEmailModel

<h1>Confirm Email Address</h1>
<div>
    <p>
        Confirm your email before proceding!
        <br />
        If you have not received an email, please check your spam folder.
    </p>
</div>
