@page
@model CouponMerchant.Pages.Deals.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Edit Deal Details</h2>
<br />
<form method="post">
    <div class=" border  backgroundWhite">
        <input type="hidden" asp-for="Deal.Id" />
        <input type="hidden" asp-for="Deal.UserId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row ">
            <div class="col-2">
                <label asp-for="Deal" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Deal.DealName" class="form-control" />
            </div>
            <span asp-validation-for="Deal.DealName" class="text-danger"></span>
        </div>
        <div class="form-group row ">
            <div class="col-2">
                <label asp-for="Deal.StartDate" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Deal.StartDate" type="date" class="form-control" />
            </div>
            <span asp-validation-for="Deal.StartDate" class="text-danger"></span>
        </div>
        <div class="form-group row ">
            <div class="col-2">
                <label asp-for="Deal.EndDate" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Deal.EndDate" type="date" class="form-control" />
            </div>
            <span asp-validation-for="Deal.EndDate" class="text-danger"></span>
        </div>
        <div class="form-group row ">
            <div class="col-2">
                <label asp-for="Deal.DollarValue" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Deal.DollarValue" class="form-control" />
            </div>
            <span asp-validation-for="Deal.DollarValue" class="text-danger"></span>
        </div>
        <div class="form-group row ">
            <div class="col-2">
                <label asp-for="Deal.Url" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Deal.Url" type="url" class="form-control" />
            </div>
            <span asp-validation-for="Deal.Url" class="text-danger"></span>
        </div>
      
        <div class="form-group row">
            <div class="col-5 offset-2">
                <div class="row">
                    <div class="col-6">
                        <input type="submit" class="btn btn-info form-control" value="Update" />
                    </div>
                    <div class="col-6">
                        <a asp-page="Index" asp-route-userId="@Model.Deal.UserId" class="btn btn-success form-control">Back to List</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

